<a href="https://colab.research.google.com/github/satishchaube167/MsemIII/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np

In [7]:
data=np.array([
    [1,2,np.nan],
    [4,np.nan,6],
    [7,8,9],
    [4,np.nan,6],
    [np.nan,5,9],
])
print("original data")
print(data)

original data
[[ 1.  2. nan]
 [ 4. nan  6.]
 [ 7.  8.  9.]
 [ 4. nan  6.]
 [nan  5.  9.]]

In [8]:
#handle missing value
col_means=np.nanmean(data,axis=0)
indices=np.where(np.isnan(data))
data[indices]=np.take(col_means,indices[1])
print("\ndata after handling missing value(replacing with column means):0")
print(data)

data after handling missing value(replacing with column means):0
[[1.  2.  7.5]
 [4.  5.  6. ]
 [7.  8.  9. ]
 [4.  5.  6. ]
 [4.  5.  9. ]]

In [10]:
#remove duplicate
data_unique=np.unique(data,axis=0)
print("\n data after removing duplicate")
print(data_unique)

 data after removing duplicate
[[1.  2.  7.5]
 [4.  5.  6. ]
 [4.  5.  9. ]
 [7.  8.  9. ]]

In [11]:
# normalised data (scale to 0-1 range)
data_min=np.min(data_unique,axis=0)
data_max=np.max(data_unique,axis=0)
normalised_data=(data_unique-data_min)/(data_max-data_min)
print("\n normalised data scale to 0-1 range")
print(normalised_data)

 normalised data scale to 0-1 range
[[0.  0.  0.5]
 [0.5 0.5 0. ]
 [0.5 0.5 1. ]
 [1.  1.  1. ]]